<%= form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='large-8 large-centered columns'>
  <h1>New Quiz</h1>
  <%= f.label :name%>
  <%= f.text_field :name, class: "nametext", rows: "7"%>

  <%= f.label :descriptions%>
  <%= f.text_area :descriptions, class: "destext", rows: "4"%>


  <h1>Add Questions</h1>


  <%= f.fields_for :questions do |builder| %>
  <p>
    <%= builder.label :question, "Question" %><br />
    <%= builder.text_area :question, :rows => 3 %>
  </p>
  <% end %>
</div>
  
  <div class="actions">
    <%= f.submit class: 'button large-centered small-2 submit' %>
  </div>
<% end %>




