<h1>Quizler</h1>
  <% @exam.each do |exam| %>
    <h3>Name: <%= exam.name %></h3>
    <p>Description: <%= exam.descriptions %></p>

    <%= link_to 'Show', exam_path(exam.id) %>
    <%= link_to 'Edit', edit_exam_path(exam.id) %>
    <%= link_to 'Delete Exam', exam, method: :delete %>
  <% end %>
  <hr>

<%= link_to 'New Exam', new_exam_path %>
