<h2 class='large-1 large-centered columns'>Quizes</h2>
<div class='large-8 large-centered columns'>
  <% @exam.each do |exam| %>
   <ul class="pricing-table">
    <li class="title titleexam"><h3>Name: <%= exam.name %></h3></li>
    <p>Description: <br> <%= exam.descriptions %></p>
    <div class='exam_options'>
        <%= link_to 'Show', exam_path(exam.id), class: 'button' %>
        <%= link_to 'Edit', edit_exam_path(exam.id), class: 'button' %>
        <%= link_to 'Delete Quiz', exam, method: :delete, class: 'button'%>
    </div>
   </ul>  
  <% end %>
  <hr>
</div>
<div class='Back'>
<%= link_to 'New Quiz', new_exam_path, class: 'button large-2 large-centered'%>
</div>