<h1>Quizler</h1>
  <% @exam.each do |exam| %>
    <h3><%= exam.name %></h3>
    <p><%= exam.descriptions %></p>

    <%= link_to 'Edit Exam', edit_exam_path(@exam) %>
    <%= link_to 'Delete Exam', exam, method: :delete %>
  <% end %>
<%= link_to 'New Exam', new_exam_path %>
